root { 
    --melon: #febaadff;
    --pewter-blue: #8ba8b7ff;
    --ghost-white: #f8f8ffff;
    --indigo-dye: #00416aff;
    --rich-black-fogra-29: #071013ff;
}

.button.is-success {
    background-color: #8ba8b7ff;
    border-color:#071013ff;
    color: var(--pewter-blue);
    
}

.button {
    background-color:#8ba8b7ff;
    border-color:#071013ff;
    border-width: 1px;
    color: var(--pewter-blue);
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
}


.title {
    color: #2160c4;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}


*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
}

div {
    display: block;
}



/* .box {
    background-color: rgb(17, 228, 193);
    border-radius: 6px;
    box-shadow: rgb(248, 4, 4) 0px 0.5em 1em -0.125em, rgba(14, 221, 124, 0.02) 0px 0px 0px 1px;
    color: rgb(253, 11, 11);
    display: block;
    padding: 1.25rem;
} */
.box {
    background-color:  #f8f8ffff;
    border-radius: 6px;
    box-shadow:  #8ba8b7ff 0px 0.5em 1em -0.125em, rgba(10, 10, 10, 0.02) 0px 0px 0px 1px;
    color: #071013ff;
    display: block;
    padding: 1.25rem;
}
body, button, input, optgroup, select, textarea {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* body {
    color: rgb(250, 46, 10);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
} */
body {
    color:#071013ff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}
body, button, input, optgroup, select, textarea {
    background-color:  #00416aff;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    background-color: var(--pewter-blue);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow: hidden scroll;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}
*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
}

*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
}


h1 {
    font-size: 3rem;
}

#header {
    background-color: #00416aff;
    margin-top: 4%;
    margin-bottom: 1%;

}

.datepicker {
    background-color: var(--melon);
}